td.monthview-primary-with-event.monthview-current {
    color: white;
    background-color: #EA5A5A;
}

.monthview-eventdetail-timecolumn {
    color: var(--ion-color-primary) !important;
}

span.event-detail {
    color: #EA5A5A;
}


