:host ::ng-deep {

    .event-detail-container {
       .item-inner {
           background-color: red;
       }
    }

    .monthview-primary-with-event {
        background-color: white !important;
        color: black !important;
    }

    .monthview-selected {
        background-color: #EA5A5A !important;
        color: white !important;
    }
}



.indicator-container {
    padding-bottom: 0.4rem;
    display: flex;
    justify-content: space-around;
}

.event-indicator {
    background: #3990F0;
    width: 5px;
    height: 5px;
    border-radius: 5px;
    display: table-cell;
    padding-right: .2rem;
}



